.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #4d455d;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #61918e;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.btn-section {
  max-width: 100%;
  text-align: center;
  margin-top: 32px;
}

button {
  padding: 10px 40px;
  background-color: #61918e;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #fff;
  color: #61918e;
  transition: 0.4s;
}
